<% if (files) { %>
  <div>
    <h2>Files</h2>
    <div class="file-container">
      <% files.forEach(file => { %>
      <div class="file-card">
        <img class="icon" src="/icons/file.svg" alt="file" />
        <p class="file-name">
          <a href="/cloud<%= file.folderId ? `/${file.folderId}` : '' %>/<%= file.id %>/view">
            <%  const fileExtension = file.name.includes('.') ? file.name.slice(file.name.lastIndexOf('.')) : ''; %>
            <%= file.name.length > 16 ? file.name.slice(0, 16) + '...' + fileExtension : file.name %>
          </a>          
        </p>
        <a href="/cloud/<%= file.id %>/deleteFile">
          <img class="icon delete" src="/icons/delete.svg" alt="delete icon" />
        </a>
        <a href="/cloud/<%= file.id %>/updateFile">
          <img class="icon update" src="/icons/pencil.svg" alt="folder update">
        </a>
      </div>
      <% }) %>
    </div>
  </div>
<% } %>
