<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloud</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/navbar', {links: ['cloud', 'search', 'logout']}) %> 
    <% if (errors) { %> 
      <%- include('partials/errors', { errors: errors }) %> 
    <% } %>
  
    <div class="viewContainer">
      <% if (currentFolder) { %>
        <h1>Viewing Shared Folder:"<%= currentFolder.name %>"</h1>
      <% } %>
      
      <% if (folders && folders.length) { %> 
        <%- include('partials/folders', {folders: folders}) %> 
      <% } else { %>
        <h2>(No folders here)</h2>
      <% } %>

      <% if (files && files.length) { %> 
        <%- include('partials/files', {files: files}) %> 
      <% } else { %>
        <h2>(No files here)</h2>
      <% } %>
    </div>
  </body>
</html>
