<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloud</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <body>
      <%- include('partials/navbar', {links: ['cloud', 'search', 'logout']}) %> 
      <% if (errors) { %> 
        <%- include('partials/errors', { errors: errors }) %> 
      <% } %>
    
      
      
      <div class="viewContainer">
        <% if (currentFolder) { %>
          <h1>Viewing "<%= currentFolder %>"</h1>
        <% } %>

        <% if (currentFolder.tags) { %>
          <h1>Tags:</h1>
        <% } %>
        
        <% if (folders && folders.length) { %> 
          <%- include('partials/folders', {folders: folders, previousURL: previousFolder}) %> 
        <% } else { %>
          <h2>(No folders here)</h2>
        <% } %>
  
        <% if (files && files.length) { %> 
          <%- include('partials/files', {files: files, previousURL: previousFolder}) %> 
        <% } else { %>
          <h2>(No files here)</h2>
        <% } %>

        <% if (previousFolder) { %>
          <%- include('partials/previous-folder', {previousURL: previousFolder}) %> 
        <% } %>
      </div>

      <div class="creation-container">
        <%- include('partials/create-folder', {submissionURL: currentURL}) %>
        <%- include('partials/file-upload-form', {submissionURL: currentURL}) %>
      </div>
    </body>
    
  </body>
</html>
