<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud | File</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/navbar', {links: ['Cloud']}) %>
    <% if (errors) { %>
        <%- include('partials/errors', { errors: errors }) %>
    <% } %>

    <h1>File Details</h1>
    <h2>Name: <%= file.name %></h2>
    <h2>Type: <%= file.type %></h2>
    <h2>Size: <%= file.size %> bytes</h2>
    <% if (file.tags) { %>
        <h2>Tags: <%= file.tags %></h2>
    <% } %>
    <h1>
        <a href="<%= file.url %>">Download</a>
    </h1>

    <%- include('partials/previous-folder', {previousURL: previousFolder}) %> 

</body>
</html>