<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud | <%= file.name %> </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/navbar', {links: ['Cloud', 'Search', 'Logout']}) %>
    <% if (errors) { %>
        <%- include('partials/errors', { errors: errors }) %>
    <% } %>

    <h1>File Details</h1>
    <h2>Name: <%= file.name %></h2>
    <h2>Type: <%= file.type %></h2>
    <h2>Size: <%= file.size %> bytes</h2>
    <% if (tags) { %>
        <%- include('partials/tags', {tags: tags.tags}) %> 
    <% } %>
    <h1>
        <a href= <%= `/cloud/${file.id}/download` %> class="download" >Download</a>
    </h1>

    <%- include('partials/previous-folder', {previousURL: previousFolder}) %> 

</body>
</html>