<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud | <%= tag.name %> </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/navbar', {links: ['cloud', 'search', 'logout']}) %>
    <% if (errors) { %>
        <%- include('partials/errors', { errors: errors }) %>
    <% } %>

    <div class="viewContainer">
        <div class="titleContainer">
            <h1>Tag Details</h1>
            <h2><%= tag.name %></h2>
        </div>

        <% if (folders && folders.length) { %> 
            <%- include('partials/folders', {folders: folders}) %> 
        <% } else { %>
            <h2>(Not connected to any folders)</h2>
        <% } %>

        <% if (files && files.length) { %> 
            <%- include('partials/files', {files: files}) %> 
        <% } else { %>
            <h2>(No connected to any files)</h2>
        <% } %>
        </div>

</body>
</html>